name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry lock
          poetry install

      - name: Build source distribution
        run: |
          poetry build -f sdist

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: python-sdist
          path: dist/*.tar.gz

  build_wheels:
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"] # Add more versions as needed
        os: [ubuntu-latest, macos-latest, windows-latest, macos-15]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry
          poetry lock
          poetry install

      - name: Run tests
        run: |
          poetry run pytest . -vv

      - name: Lint with Black
        run: |
          poetry run black --check .

      - name: Build wheels
        run: |
          poetry cache clear . --all --no-interaction
          poetry build -f wheel
        env:
          CIBW_SKIP: pp* cp27* cp34* cp35* cp36* cp37* cp38* cp39*

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: python-wheels-${{ matrix.os }}-${{ matrix.python-version }}
          path: dist/*.whl

  publish:
    if: startsWith(github.ref, 'ref/tags/') # only publish to PyPI on tag pushes
    needs: [build_sdist, build_wheels]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/cytriangle
    permissions:
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
